<section section id='scn-profile'>
  <div id='div-header'>
    <div id='div-banner'>
      {{#if ownProfile}}
        <form action='/profile/{{user._id}}/edit'>
          <button id='btn-edit' class='btn-lightgrey'>Edit Profile</button>
        </form>
      {{/if}}
    </div>
    <div id='div-profile-header'>
      <div>
        <div class='div-img-circle'>
          <img
            src='{{user.profilePicture}}'
            alt='{{user.name.firstName}} {{user.name.lastName}}'
            class='img-rounded-edges'
          />
        </div>
        {{#if ownProfile}}
          <form action='/profile/{{user._id}}/change-picture'>
            <button id='btn-change' class='btn-pink'>Change Picture</button>
          </form>
        {{/if}}
      </div>

      <div id='div-user-info'>

        {{#if ownProfile}}
          <h1>Hello {{userProfile.name.firstName}}</h1>
        {{else}}
          <h1>

            {{userProfile.name.firstName}}
            {{userProfile.name.lastName}}
            <img
              class='img-icon'
              src='/icons/guarantee.png'
              alt='Location Icon'
            /></h1>
        {{/if}}

        <div>
          <p><img
              class='img-icon'
              src='/icons/location.png'
              alt='Location Icon'
            /><span>{{userProfile.place}}</span></p>
          <p><strong>{{numberOfDiscoveries}}</strong><span>
              discoveries,
            </span><strong>{{numberOfReviews}}</strong><span>
              reviews</span></p>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  {{#if ownProfile}}
    <h2>Your Yummy Discoveries</h2>
  {{else}}
    <h2>{{userProfile.name.firstName}}'s Yummy Discoveries</h2>
    <!--
    <form action='/profile/{{userProfile._id}}/reviews'>
      <button class='btn-pink'>See
        {{userProfile.name.firstName}}'s Reviews
      </button>
    </form>-->
  {{/if}}
  {{#if userProfile.discoveries}}
    {{#each userProfile.discoveries}}
      <form action='/restaurants/restaurant/{{_id}}'><button>
          <div>
            <img
              src='{{image}}'
              alt='Image of {{name}}'
              class='img-restaurant-image'
            />
            <div>
              <h3>{{name}}</h3>
              <p><strong>Cuisine: </strong> <span>{{cousine}}</span></p>
            </div>
          </div>
        </button></form>
    {{/each}}
  {{else}}
    <p>No discoveries yet.</p>
  {{/if}}
  <!--
       <div class='restaurant-card'>
        <img src='{{image}}' alt='{{name}}' />
        <div class='restaurant-information'>
          <h3>{{name}}</h3>
          <small class='rating'>{{rating}}
            <img
              class='rating-img'
              src='/images/star.svg'
              alt='rating star'
            /></small>
          <div class='restaurant-details'>

            <small>{{price}}</small>
          </div>
        </div>
      </div>
-->
  {{#if ownProfile}}
    <form action='/restaurants/create'>
      <button id='btn-add' class='btn-pink'>Add new discovery</button>
    </form>
  {{/if}}

  {{#if ownProfile}}
    <h2>Your Yummy Reviews</h2>
  {{else}}
    <h2>{{userProfile.name.firstName}}'s Yummy Reviews</h2>
  {{/if}}

  {{#if userProfile.reviews}}
    {{#each userProfile.reviews}}
      <div>
        <p>{{content}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>No reviews yet.</p>
  {{/if}}
</section>

<div>Icons made by
  <a href='https://www.freepik.com' title='Freepik'>Freepik</a>
  from
  <a
    href='https://www.flaticon.com/'
    title='Flaticon'
  >www.flaticon.com</a></div>