<section section id='scn-profile'>
  <div id='div-header'>
    <div id='div-banner'>
      {{#if ownProfile}}
        <form action='/profile/{{user._id}}/edit'>
          <button id='btn-edit' class='btn-lightgrey'>Edit Profile</button>
        </form>
      {{/if}}
    </div>
    <div id='div-profile-header'>
      <div>
        <img
          src='{{user.profilePicture}}'
          alt='{{user.name.firstName}} {{user.name.lastName}}'
          class='img-rounded-edges'
        />
        {{#if ownProfile}}
          <form action='/profile/{{user._id}}/change-picture'>
            <button id='btn-change' class='btn-pink'>Change Picture</button>
          </form>
        {{/if}}
      </div>

      <div id='div-user-info'>

        {{#if ownProfile}}
          <h1>Hello {{userProfile.name.firstName}}</h1>
        {{else}}
          <h1>

            {{userProfile.name.firstName}}
            {{userProfile.name.lastName}}
            <img
              class='img-icon'
              src='/icons/guarantee.png'
              alt='Location Icon'
            /></h1>
        {{/if}}

        <div>
          <p><img
              class='img-icon'
              src='/icons/location.png'
              alt='Location Icon'
            /><span>{{userProfile.place}}</span></p>
          <p><strong>{{numberOfDiscoveries}}</strong><span>
              discoveries,
            </span><strong>{{numberOfReviews}}</strong><span>
              reviews</span></p>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  {{#if ownProfile}}
    <h2>Your Yummy Discoveries</h2>
  {{else}}
    <h2>{{userProfile.name.firstName}}'s Yummy Discoveries</h2>
    <form action='/profile/{{userProfile._id}}/reviews'>
      <button class='btn-pink'>See
        {{userProfile.name.firstName}}'s Reviews
      </button>
    </form>
  {{/if}}
  {{#if userProfile.discoveries}}
    {{#each userProfile.discoveries}}
      <div>
        <h3>{{name}}</h3>
        <p>{{descriptioin}}</p>
        <img src='{{image}}' alt='Image of {{name}}' />
      </div>
    {{/each}}
  {{else}}
    <p>No discoveries yet.</p>
  {{/if}}

  {{#if ownProfile}}
    <form action='/restaurants/create'>
      <button id='btn-add' class='btn-pink'>Add new discovery</button>
    </form>
  {{/if}}
</section>

<div>Icons made by
  <a href='https://www.freepik.com' title='Freepik'>Freepik</a>
  from
  <a
    href='https://www.flaticon.com/'
    title='Flaticon'
  >www.flaticon.com</a></div>