<section section id='scn-profile'>
  <div id='div-header'>
    <div id='div-banner'>
      {{#if ownProfile}}
        <form action='/profile/{{user._id}}/edit'>
          <button id='btn-edit' class='btn-lightgrey'>Edit Profile</button>
        </form>
      {{/if}}
    </div>
    <div id='div-profile-header'>
      <div>
        <div class='div-img-circle'>
          <img
            src='{{user.profilePicture}}'
            alt='{{user.name.firstName}} {{user.name.lastName}}'
            class='img-rounded-edges'
          />
        </div>
        {{#if ownProfile}}
          <form action='/profile/{{user._id}}/change-picture'>
            <button id='btn-change' class='btn-pink'>Change Picture</button>
          </form>
        {{/if}}
      </div>

      <div id='div-user-info'>

        {{#if ownProfile}}
          <h1>Hello {{userProfile.name.firstName}}</h1>
        {{else}}
          <h1>

            {{userProfile.name.firstName}}
            {{userProfile.name.lastName}}
            <img
              class='img-icon'
              src='/icons/guarantee.png'
              alt='Location Icon'
            /></h1>
        {{/if}}

        <div>
          <p><img
              class='img-icon'
              src='/icons/location.png'
              alt='Location Icon'
            /><span>{{userProfile.place}}</span></p>
          <p><strong>{{numberOfDiscoveries}}</strong><span>
              discoveries,
            </span><strong>{{numberOfReviews}}</strong><span>
              reviews</span></p>
        </div>
      </div>

    </div>
  </div>
</section>

<section id='scn-own-discoveries'>
  {{#if ownProfile}}
    <h2>Your Yummy Discoveries</h2>
  {{else}}
    <h2>{{userProfile.name.firstName}}'s Yummy Discoveries</h2>
    <!--
    <form action='/profile/{{userProfile._id}}/reviews'>
      <button class='btn-pink'>See
        {{userProfile.name.firstName}}'s Reviews
      </button>
    </form>-->
  {{/if}}
  {{#if userProfile.discoveries}}
    <div class='glider'>
      {{#each userProfile.discoveries}}
        <div class='restaurant-card'>

          <img src='{{image}}' alt='Image of {{name}}' />

          <div class='restaurant-information'>
            <h3>{{name}}</h3>
            <small class='rating'>{{rating}}
              <img
                class='rating-img'
                src='/images/star.svg'
                alt='rating star'
              /></small>

            <div class='restaurant-details'>
              <small>{{price}}</small>
            </div>

            <form action='/restaurants/restaurant/{{_id}}'><button
                class='btn-lightgrey btn-no-mg-left'
              >View details</button></form>
          </div>

        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No discoveries yet.</p>
  {{/if}}
</section>

{{#if ownProfile}}
  <form action='/restaurants/create'>
    <button id='btn-add' class='btn-pink'>Add new discovery</button>
  </form>
{{/if}}

<section id='scn-own-reviews'>
  {{#if ownProfile}}
    <h2>Your Yummy Reviews</h2>
  {{else}}
    <h2>{{userProfile.name.firstName}}'s Yummy Reviews</h2>
  {{/if}}

  {{#if userProfile.reviews}}
    <div class='glider-2'>
      {{#each userProfile.reviews}}
        <div class='restaurant-card'>
          <img
            src='{{restaurant.image}}'
            alt='Image'
            class='img-reviews-card'
          />

          <div class='restaurant-information'>
            <div class='reviews-details'>
              <p><i>" {{content}} "</i></p>
              <p>
                <strong>{{restaurant.name}}</strong>
                <small>, {{created_at}}</small>
              </p>
            </div>
            <form action='/restaurants/restaurant/{{restaurant._id}}'><button
                class='btn-lightgrey btn-no-mg-left'
              >View details</button></form>
          </div>
        </div>
      {{/each}}
    </div>

  {{else}}
    <p>No reviews yet.</p>
  {{/if}}
</section>

<script>
  new Glider(document.querySelector('.glider'), { slidesToShow: 1, dots:
  '#dots', draggable: true, arrows: { prev: '.glider-prev', next: '.glider-next'
  } }); new Glider(document.querySelector('.glider-2'), { slidesToShow: 1, dots:
  '#dots', draggable: true, arrows: { prev: '.glider-prev', next: '.glider-next'
  } });
</script>

<div>Icons made by
  <a href='https://www.freepik.com' title='Freepik'>Freepik</a>
  from
  <a
    href='https://www.flaticon.com/'
    title='Flaticon'
  >www.flaticon.com</a></div>